<div>
    <ModalTemplate :show="show" @close="close">
      <h3 class="achievement_main_name">{{ achievementName }}</h3>
      <h4 class="achievement_main_value">{{ achievementValue }}</h4>
      <img
        class="gamerscore_icon_small"
        :src="require('../../static/icons/gamerscore_icon.png')"
      />
      <p class="achievement_main_description">{{ achievementDescription }}</p>
      <img
        class="achievement_main_art"
        :src="achievementArt"
        alt="Achievement Art"
        width="100%"
      />
      <div v-show="videoTutorial.length > 1" class="videoWrapper">
        <iframe
          v-show="videoTutorial.length > 1"
          class="video_tutorial"
          width="100%"
          height="47%"
          :src="videoTutorial"
          frameborder="0"
        >
        </iframe>
      </div>
      <img
        v-show="videoTutorial.length == 0"
        class="no_video_background"
        :src="imageTutorial"
      />
      <img
        v-show="videoTutorial.length == undefined"
        class="no_video_background"
        :src="require('../../static/icons/video_false_background.png')"
      />
      <h6 class="achievement_main_tutorial">{{ achievementTutorial }}</h6>
    </ModalTemplate>
  </div>