.platform_selection {
    position: relative;
    width: 200px;
    right: 35px;
    margin-bottom: 5px;
  }
  .user_search {
    width: 80%;
    margin-right: 20px;
  }
  
  .platform_unselected {
    opacity: 0.2;
  }
  
  .platform_selected {
    opacity: 1
  }
  #searchDiv{
      flex-flow: nowrap;
      width: 320px;
    }
  
  @media screen and (max-width: 960px) {
    #searchDiv{
      flex-flow: column;
    }
    .search_component {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    .search_component > * {
      padding-bottom: 12px;
    }
    .platform_selection {
     right: 100px;
    }
    .search_component .form-inline {
      flex-flow: column;
    }
    .search_component .form-inline .form-group {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: stretch;
    }
    .user_search {
      margin-right: 0;
      margin-bottom: 12px;
      width: 100%;
    }
    .instructions {
      width: unset;
      font-size: 14px;
      margin-bottom: 12px;
    }
  }