.selectAll {
    padding-bottom: 5px;
    display: contents;
  }

  .form-check {
    padding-left: 0;
  }

  .criteria_selection {
    padding-left: 2em;
  }
  .selection_heading {
    color: #ffffff;
    font-size: 17px;
  }

  .modes {
    padding-left: 3em;
  }

  #modes_div {
    padding-bottom: 1em;
  }

  #maps_div {
    padding-left: 3em;
  }
  .campaign_maps {
    float: left;
    width: 12em;
    padding-right: 3em;
  }

  .multiplayer_maps {
    display: grid;
    width: 5vw;
  }

  .spartan_ops_maps {
    display: grid;
  }

  .modes_heading,
  .maps_heading {
    color: white;
    font-size: 17px;
  }

  @media screen and (min-width: 691px) and (max-width: 1366px) {
    .multiplayer_maps {
      display: grid;
      width: 9vw;
    }
  }

  @media screen and (min-width: 1367px) and (max-width: 1600px) {
    #filter_achievements {
      transform: scale(0.9);
      margin-top: -60px;
      margin-left: -20px;
    }
    .multiplayer_maps {
      display: grid;
      width: 8vw;
    }
  }
