<div class="criteria_selection">
    <b-form-group>
      <div class="form-check selectAll">
        <b-form-checkbox
          v-model="allSelected"
          aria-describedby="modes"
          aria-controls="modes"
          @change="toggleAllCheckboxes"
        >
          {{ allSelected ? "Un-select All" : "Select All" }}
        </b-form-checkbox>
      </div>
      <div id="modes_div">
        <h5 class="modes_heading">Filter by Mode</h5>
        <div class="modes">
          <b-form-checkbox-group
            v-model="selected"
            :options="modes"
            plain
            stacked
          ></b-form-checkbox-group>
        </div>
      </div>
      <div>
        <!-- QOL improvement and easiest way to not show the redundant maps options for crossgame -->
        <h5
          class="maps_heading"
          v-show="campaignSelected || multiplayerSelected"
        >
          Filter by Mission / Map
        </h5>
        <div id="maps_div">
          <div class="campaign_maps" v-show="campaignSelected">
            <div>
              <b-form-checkbox-group
                v-model="selected"
                :options="campaign_maps"
                plain
                stacked
              ></b-form-checkbox-group>
            </div>
          </div>
          <div class="multiplayer_maps" v-show="multiplayerSelected">
            <b-form-checkbox-group
              v-model="selected"
              :options="multiplayer_maps"
              plain
              stacked
            ></b-form-checkbox-group>
          </div>
          <div class="spartan_ops_maps" v-show="spartanOpsSelected">
            <div>
              <b-form-checkbox-group
                v-model="selected"
                :options="spartan_ops_maps"
                plain
                stacked
              ></b-form-checkbox-group>
            </div>
          </div>
        </div>
      </div>
    </b-form-group>
</div>