<div class="container" id="welcomeContainer">
  <MCCTrackerLogo class="startscreen_logo" />
  <h1 class="title">MCC Achievement Tracker</h1>
  <div class="MCCTrackerBio">
    <p class="description">
      Track and get guides for all 700 achievements in Halo: The Master Chief
      Collection! MCC Achievement Tracker lets you filter achievements by
      individual game, gamemode, and map they can be unlocked on. Click any
      achievement to instantly open up a guide. Click the lock symbol to toggle between locked and unlocked achievements.
    </p>
  </div>
  <div class="search_content">
    <SearchUser
      @search-user="searchUser"
      @platformSelected="changePlatformText"
    />
  </div>
  <h6 class="notFoundText" v-if="userNotFound">
    {{ platform_id }} not found. Are you sure you spelled it correctly?
  </h6>
  <p class="instructions">
    Enter your {{ platform_id }} to pull your current achievement progress for
    Halo: The Master Chief Collection
  </p>
  <div class="author_links">
    <a href="https://www.twitter.com/NoWise10" target="_blank">
      <img
        class="twitter_bird_logo"
        src="../../static/icons/Twitter_Bird_Logo.svg"
        alt="Developers Twitter"
      />
      <p class="made_by">Made with love by NoWise10</p>
    </a>
  </div>
</div>
