#achievement_not_found {
    color: rgb(252, 65, 65);
    margin-top: 5px;
    position: absolute;
    width: 400px;
    margin-left: -30px; /* Sloppy but it works ;) */
    overflow: visible;
  }
  
  .criteria_selection {
    padding-top: 2em;
  }
  .selection_heading {
    color: #ffffff;
    font-size: 17px;
  }
  
  .form-check {
    margin-left: 0em;
  }
  
  #filter_achievements {
    grid-column: 1;
    grid-row: 1/11;
  }
  
  .heading {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .search_header {
    text-align: left;
    color: white;
    padding-left: 2em;
    margin-top: 2em;
  }
  .search_achievement_bar {
    flex-flow: nowrap;
    width: 20em;
    text-align: center;
  }
  
  .achievement_form {
    padding-left: 3em;
  }
  
  .form-check {
    color: white;
  }
  
  .header {
    color: white;
  }
  
  @media screen and (min-width: 691px) and (max-width: 1366px) {
    #filter_achievements {
      grid-column: 1;
      grid-row: 1/11;
      transform: scale(0.75);
      padding-top: -50;
      margin-top: -160px;
      margin-left: -40px;
    }
  }